
@{
    ViewData["Title"] = "Categories";
    @model CategorieViewModel
}
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1 id="forms">Liste des catégories</h1>
        </div>
    </div>
</div>
<p>
    <a asp-action="Create">Ajouter nouvelle catégorie</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListCategories.FirstOrDefault().Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListCategories.FirstOrDefault().IdTypecategorieNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListCategories.FirstOrDefault().HorsStats)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListCategories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTypecategorieNavigation.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorsStatsString)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a>
            </td>
        </tr>
}
    </tbody>
</table>