@model SkalvaBank.Domain.Operation

@{
    ViewData["Title"] = "Details Operation";
}
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1 id="forms">Détails opération</h1>
        </div>
    </div>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dateoperation)
        </dt>        
        <dd>
            @Html.DisplayFor(model => model.Dateoperation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SensString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SensString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numcompte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numcompte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCategorieNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCategorieNavigation.Libelle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
