
@{
    ViewData["Title"] = "Operation";
    @model OperationViewModel
}
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1 id="forms">Liste des opérations</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">    
        <h3>Depenses: @Html.DisplayFor(model => model.TotalDepenses) € </h3> 
    </div>
    <div class="col-lg-6">    
        <h3>Recettes: @Html.DisplayFor(model => model.TotalRecettes) €</h3> 
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
    <div class="well bs-component">
        <form class="form-horizontal">
        <fieldset>
            <legend>Filtre operations</legend>
            <div class="form-group">
                <label asp-for="IdCategorie" class="col-lg-2 control-label">Categorie: </label>
                <div class="col-lg-10">
                    <select asp-for="IdCategorie" asp-items="Model.Categories" class="form-control">
                        <option value="">Toutes</option>
                    </select>    
                </div>
            </div>
            <div class="form-group">                
                <label asp-for="DateSelected" class="col-lg-2 control-label">Date:</label>
                <div class="col-lg-10">                    
                    <input asp-for="DateSelected" class="form-control" />      
                    <span asp-validation-for="DateSelected" class="text-danger"></span>   
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">                      
                    <button type="submit" class="btn btn-primary">Filtrer</button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Dateoperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Sens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().IdCategorieNavigation.Libelle)
            </th>
            <td></td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListOperations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dateoperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategorieNavigation.Libelle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a>
            </td>
        </tr>
}
    </tbody>
</table>