
@{
    ViewData["Title"] = "Operation";
    @model OperationViewModel
}
<h1>Liste des opérations</h1>

<h3>Depenses: @Html.DisplayFor(model => model.TotalDepenses) €</h3> 
<h3>Recettes: @Html.DisplayFor(model => model.TotalRecettes) €</h3> 

<form asp-controller="Operation" asp-action="Index" method="get">
    <p>
        <label asp-for="IdCategorie" class="control-label">Categorie: </label>
        <select asp-for="IdCategorie" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        <div class="form-group">
                <label asp-for="DateSelected" class="control-label">Date</label>
                <input asp-for="DateSelected" class="form-control" />      
                <span asp-validation-for="DateSelected" class="text-danger"></span>          
            </div>
        <input type="submit" value="Filtrer"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Dateoperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Sens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().IdCategorieNavigation.Libelle)
            </th>
            <td></td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListOperations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dateoperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategorieNavigation.Libelle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>