
@{
    ViewData["Title"] = "Operation";
    @model OperationViewModel
}
<h1>Liste des opérations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Dateoperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Sens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().Numcompte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOperations.FirstOrDefault().IdCategorieNavigation.Libelle)
            </th>
            <td></td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListOperations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dateoperation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numcompte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategorieNavigation.Libelle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>